@media only screen and (min-width: 1501px) {
    body {
        background-color: blue;
        font-size: 500%;
    }
    #Large {
        visibility: visible;
    }
    #Medium {
        visibility: hidden;
    }
    #Small {
        visibility: hidden;
    }
    

}

@media only screen and (max-width: 1500px) {
    body {
        background-color: green;
        font-size: 200%;
    }
    #Large {
        visibility: hidden;
    }
    #Medium {
        visibility: visible;
    }
    #Small {
        visibility: hidden;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: red;
        font-size: 100%;
    }
    #Large {
        visibility: hidden;
    }
    #Medium {
        visibility: hidden;
    }
    #Small {
        visibility: visible;
    }
}

#Large, #Medium, #Small {
    top: 45%;
    left: 50%;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
}
  