@import url('https://fonts.googleapis.com/css?family=Quicksand');

@media only screen and (min-width: 769px) {
    body {
        background-color: blue;
        font-size: 200%;
    }
    #Large {
        visibility: visible;
        font-family: 'Quicksand', sans-serif;
        color: blue;
        background-color: white;
    }
    #Medium {
        visibility: visible;
        font-family: 'Quicksand', sans-serif;
        color: green;
        background-color: white;
    }
    #Small {
        visibility: visible;
        font-family: 'Quicksand', sans-serif;
        color: red;
        background-color: white;
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-color: green;
        font-size: 100%;
    }
    #Large {
        visibility: visible;
        font-family: 'Quicksand', sans-serif;
        color: blue;
        background-color: white;
        margin-left: 33%;
    }
    #Medium {
        visibility: visible;
        font-family: 'Quicksand', sans-serif;
        color: green;
        background-color: white;
        margin-left: 66%;
    }
    #Small {
        visibility: visible;
        font-family: 'Quicksand', sans-serif;
        color: red;
        background-color: white;
        margin-left: 0%
    }
}

@media only screen and (max-width: 300px) {
    body {
        background-color: red;
        font-size: 50%;
    }
    #Large {
        visibility: visible;
        font-family: 'Quicksand', sans-serif;
        color: blue;
        background-color: white;
        float: left;
        width: 30%;
        margin: 1%;
    }
    #Medium {
        visibility: visible;
        font-family: 'Quicksand', sans-serif;
        color: green;
        background-color: white;
        float: left;
        width: 30%;
        margin: 1%;
    }
    #Small {
        visibility: visible;
        font-family: 'Quicksand', sans-serif;
        color: red;
        background-color: white;
        float: left;
        width: 30%;
        margin: 1%;
    }
}
